Copyright (c) 2022, Hikmet GÃ¼ner
All rights reserved.

This source code is licensed under the BSD-style license found in the
LICENSE file in the root directory of this source tree.

<h1>Imports</h1>

In [300]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

<h2>Reading and Analyzing Data</h2>

In [301]:
df = pd.read_csv("exoplanets.csv",header=0, index_col=0)
df.head(10)

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,11 Com b,11 Com,1,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-05-14,2008-01,2014-05-14
1,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,2014-07-23,2011-08,2014-07-23
2,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25,2011-08,2014-07-23
3,11 UMi b,11 UMi,1,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-09-04,2017-03,2018-09-06
4,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,2018-04-25,2009-10,2014-05-14
5,14 And b,14 And,0,1,1,Radial Velocity,2008,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.331,0.240,-0.240,4.91781,0.002826,-0.002826,2014-07-23,2011-08,2014-07-23
6,14 And b,14 And,1,1,1,Radial Velocity,2008,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.331,0.240,-0.240,4.91781,0.002826,-0.002826,2014-05-14,2008-12,2014-05-14
7,14 Her b,14 Her,0,1,2,Radial Velocity,2002,W. M. Keck Observatory,Published Confirmed,0,...,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351,2021-09-20,2021-05,2021-09-20
8,14 Her b,14 Her,0,1,2,Radial Velocity,2002,W. M. Keck Observatory,Published Confirmed,0,...,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351,2018-04-25,2003-01,2014-08-21
9,14 Her b,14 Her,0,1,2,Radial Velocity,2002,W. M. Keck Observatory,Published Confirmed,0,...,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351,2018-04-25,2008-04,2014-08-21

<h2>Checking Null Values</h2>

Calculating total amount of null values for insight, preparing for what's to come.

In [302]:
total_null_values = df.isnull().sum().sum()

Iterating over columns to find the ratio of null values to total values.
If the ratio is greater than 0.7, the column will be dropped.

In [303]:
drop_columns = []
for name, val in df.items():
    na_ratio =  val.isnull().sum() / len(val)
    if(na_ratio > 0.69):
        print(f"{name:<16} {na_ratio:.5f}")
        drop_columns.append(name)

pl_orbsmaxerr1   0.87165
pl_orbsmaxerr2   0.87168
pl_radj          0.70245
pl_radjerr1      0.72020
pl_radjerr2      0.72020
pl_radjlim       0.70245
pl_bmasse        0.85565
pl_bmasseerr1    0.86913
pl_bmasseerr2    0.86913
pl_bmasselim     0.85565
pl_bmassj        0.85568
pl_bmassjerr1    0.86932
pl_bmassjerr2    0.86932
pl_bmassjlim     0.85568
pl_bmassprov     0.85565
pl_orbeccenerr1  0.92074
pl_orbeccenerr2  0.92077
pl_eqterr1       0.95367
pl_eqterr2       0.95367
st_spectype      0.94197

Adding the columns that are not useful for the model to the drop columns list

In [304]:
drop_columns.extend([
    'default_flag',
    'discoverymethod',
    'disc_year',
    'disc_facility',
    'soltype',
    'pl_controv_flag',
    'pl_refname',
    'sy_refname',
    'rastr',
    'ra',
    'decstr',
    'dec',
    'rowupdate',
    'pl_pubdate',
    'releasedate',
    ])

Dropping columns that are related to the parent star, the data could be used for another analysis on how to detect stars that might have habitable planets within their systems.

In [305]:
drop_columns.extend([
    'st_teff',
    'st_tefferr1',
    'st_tefferr2',
    'st_tefflim',
    'st_rad',
    'st_raderr1',
    'st_raderr2',
    'st_radlim',
    'st_mass',
    'st_masserr1',
    'st_masserr2',
    'st_masslim',
    'st_met',
    'st_meterr1',
    'st_meterr2',
    'st_metlim',
    'st_metratio',
    'st_logg',
    'st_loggerr1',
    'st_loggerr2',
    'st_logglim',
    'sy_vmag',
    'sy_vmagerr1',
    'sy_vmagerr2',
    'sy_kmag',
    'sy_kmagerr1',
    'sy_kmagerr2',
    'sy_gaiamag',
    'sy_gaiamagerr1',
    'sy_gaiamagerr2'
    ])


index = 0
for columns in drop_columns:
    if index % 3 == 0:
        print()
    print(f'{columns:<20}', end='')
    index += 1

pl_orbsmaxerr1      pl_orbsmaxerr2      pl_radj
pl_radjerr1         pl_radjerr2         pl_radjlim
pl_bmasse           pl_bmasseerr1       pl_bmasseerr2
pl_bmasselim        pl_bmassj           pl_bmassjerr1
pl_bmassjerr2       pl_bmassjlim        pl_bmassprov
pl_orbeccenerr1     pl_orbeccenerr2     pl_eqterr1
pl_eqterr2          st_spectype         default_flag
discoverymethod     disc_year           disc_facility
soltype             pl_controv_flag     pl_refname
sy_refname          rastr               ra
decstr              dec                 rowupdate
pl_pubdate          releasedate         st_teff
st_tefferr1         st_tefferr2         st_tefflim
st_rad              st_raderr1          st_raderr2
st_radlim           st_mass             st_masserr1
st_masserr2         st_masslim          st_met
st_meterr1          st_meterr2          st_metlim
st_metratio         st_logg             st_loggerr1
st_loggerr2         st_logglim          sy_vmag
sy_vmagerr1         sy_vmagerr2         sy_kmag
sy_kmagerr1         sy_kmagerr2         sy_gaiamag
sy_gaiamagerr1      sy_gaiamagerr2

Dropping columns from the dataset

In [306]:
df = df.drop(columns=drop_columns)
df.head()

,pl_name,hostname,sy_snum,sy_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,pl_orbsmax,pl_orbsmaxlim,...,pl_insolerr1,pl_insolerr2,pl_insollim,pl_eqt,pl_eqtlim,ttv_flag,st_refname,sy_dist,sy_disterr1,sy_disterr2
0,11 Com b,11 Com,2,1,326.03000,0.32,-0.32,0.0,1.29,0.0,...,NaN,NaN,NaN,NaN,NaN,0,<a refstr=LIU_ET_AL__2008 href=https://ui.adsa...,93.1846,1.9238,-1.9238
1,11 Com b,11 Com,2,1,NaN,NaN,NaN,NaN,1.21,0.0,...,NaN,NaN,NaN,NaN,NaN,0,<a refstr=KUNITOMO_ET_AL__2011 href=https://ui...,93.1846,1.9238,-1.9238
2,11 UMi b,11 UMi,1,1,NaN,NaN,NaN,NaN,1.51,0.0,...,NaN,NaN,NaN,NaN,NaN,0,<a refstr=KUNITOMO_ET_AL__2011 href=https://ui...,125.3210,1.9765,-1.9765
3,11 UMi b,11 UMi,1,1,516.21997,3.20,-3.20,0.0,1.53,0.0,...,NaN,NaN,NaN,NaN,NaN,0,<a refstr=STASSUN_ET_AL__2017 href=https://ui....,125.3210,1.9765,-1.9765
4,11 UMi b,11 UMi,1,1,516.22000,3.25,-3.25,0.0,1.54,0.0,...,NaN,NaN,NaN,NaN,NaN,0,<a refstr=DOLLINGER_ET_AL__2009 href=https://u...,125.3210,1.9765,-1.9765

In [307]:
null_after_dropcol = df.isnull().sum().sum()
null_after_dropcol

214945

Dealing with rows with many missing data

Finding how much column is missing from each row

In [308]:
empty_col_per_row = {i: 0 for i in df.index}
for col in df.columns:
    total_nan = 0
    for index in df.index:
        if pd.isna(df[col][index]):
            empty_col_per_row[index] += 1
empty_col_per_row

{0: 10,
 1: 16,
 2: 16,
 3: 10,
 4: 10,
 5: 16,
 6: 10,
 7: 10,
 8: 10,
 9: 12,
 10: 14,
 11: 10,
 12: 10,
 13: 10,
 14: 10,
 15: 10,
 16: 10,
 17: 10,
 18: 10,
 19: 10,
 20: 10,
 21: 10,
 22: 16,
 23: 14,
 24: 14,
 25: 14,
 26: 12,
 27: 10,
 28: 10,
 29: 10,
 30: 14,
 31: 19,
 32: 14,
 33: 16,
 34: 15,
 35: 19,
 36: 14,
 37: 14,
 38: 12,
 39: 12,
 40: 9,
 41: 16,
 42: 10,
 43: 10,
 44: 10,
 45: 10,
 46: 10,
 47: 10,
 48: 10,
 49: 10,
 50: 10,
 51: 10,
 52: 10,
 53: 10,
 54: 10,
 55: 10,
 56: 10,
 57: 10,
 58: 14,
 59: 10,
 60: 10,
 61: 12,
 62: 10,
 63: 10,
 64: 12,
 65: 10,
 66: 10,
 67: 10,
 68: 10,
 69: 10,
 70: 10,
 71: 10,
 72: 10,
 73: 10,
 74: 10,
 75: 10,
 76: 10,
 77: 10,
 78: 10,
 79: 10,
 80: 10,
 81: 10,
 82: 10,
 83: 10,
 84: 10,
 85: 10,
 86: 10,
 87: 10,
 88: 10,
 89: 10,
 90: 10,
 91: 10,
 92: 10,
 93: 10,
 94: 10,
 95: 14,
 96: 10,
 97: 18,
 98: 10,
 99: 12,
 100: 4,
 101: 10,
 102: 10,
 103: 8,
 104: 6,
 105: 8,
 106: 10,
 107: 6,
 108: 12,
 109: 10,
 110: 10,
 111: 10,
 112: 10,
 113: 10,
 114: 10,
 115: 10,
 116: 10,
 117: 10,
 118: 10,
 119: 10,
 120: 10,
 121: 10,
 122: 10,
 123: 10,
 124: 10,
 125: 10,
 126: 10,
 127: 10,
 128: 10,
 129: 10,
 130: 10,
 131: 10,
 132: 10,
 133: 10,
 134: 10,
 135: 10,
 136: 10,
 137: 16,
 138: 10,
 139: 10,
 140: 14,
 141: 16,
 142: 16,
 143: 6,
 144: 12,
 145: 4,
 146: 6,
 147: 12,
 148: 12,
 149: 14,
 150: 4,
 151: 6,
 152: 10,
 153: 10,
 154: 10,
 155: 10,
 156: 10,
 157: 10,
 158: 10,
 159: 10,
 160: 10,
 161: 10,
 162: 4,
 163: 8,
 164: 10,
 165: 10,
 166: 10,
 167: 10,
 168: 10,
 169: 10,
 170: 10,
 171: 10,
 172: 10,
 173: 10,
 174: 10,
 175: 10,
 176: 10,
 177: 10,
 178: 10,
 179: 10,
 180: 10,
 181: 10,
 182: 10,
 183: 10,
 184: 10,
 185: 10,
 186: 10,
 187: 10,
 188: 6,
 189: 13,
 190: 9,
 191: 16,
 192: 12,
 193: 6,
 194: 10,
 195: 6,
 196: 4,
 197: 6,
 198: 6,
 199: 8,
 200: 6,
 201: 6,
 202: 4,
 203: 18,
 204: 6,
 205: 6,
 206: 4,
 207: 4,
 208: 4,
 209: 6,
 210: 14,
 211: 6,
 212: 6,
 213: 14,
 214: 6,
 215: 4,
 216: 6,
 217: 6,
 218: 6,
 219: 4,
 220: 6,
 221: 6,
 222: 4,
 223: 6,
 224: 6,
 225: 6,
 226: 14,
 227: 6,
 228: 4,
 229: 6,
 230: 14,
 231: 6,
 232: 4,
 233: 6,
 234: 6,
 235: 6,
 236: 6,
 237: 14,
 238: 10,
 239: 6,
 240: 6,
 241: 6,
 242: 14,
 243: 6,
 244: 4,
 245: 6,
 246: 6,
 247: 10,
 248: 10,
 249: 9,
 250: 9,
 251: 4,
 252: 6,
 253: 6,
 254: 4,
 255: 4,
 256: 4,
 257: 4,
 258: 6,
 259: 8,
 260: 6,
 261: 4,
 262: 6,
 263: 6,
 264: 6,
 265: 14,
 266: 6,
 267: 6,
 268: 6,
 269: 6,
 270: 8,
 271: 18,
 272: 6,
 273: 6,
 274: 6,
 275: 6,
 276: 4,
 277: 6,
 278: 6,
 279: 6,
 280: 6,
 281: 4,
 282: 6,
 283: 4,
 284: 6,
 285: 6,
 286: 8,
 287: 8,
 288: 4,
 289: 10,
 290: 10,
 291: 12,
 292: 10,
 293: 10,
 294: 6,
 295: 6,
 296: 6,
 297: 6,
 298: 4,
 299: 6,
 300: 6,
 301: 6,
 302: 2,
 303: 14,
 304: 10,
 305: 13,
 306: 16,
 307: 12,
 308: 8,
 309: 8,
 310: 8,
 311: 8,
 312: 8,
 313: 10,
 314: 8,
 315: 14,
 316: 10,
 317: 10,
 318: 6,
 319: 8,
 320: 9,
 321: 10,
 322: 10,
 323: 10,
 324: 10,
 325: 8,
 326: 10,
 327: 10,
 328: 10,
 329: 10,
 330: 9,
 331: 10,
 332: 10,
 333: 10,
 334: 10,
 335: 8,
 336: 10,
 337: 10,
 338: 8,
 339: 10,
 340: 10,
 341: 14,
 342: 10,
 343: 10,
 344: 10,
 345: 10,
 346: 10,
 347: 14,
 348: 10,
 349: 10,
 350: 10,
 351: 10,
 352: 10,
 353: 14,
 354: 10,
 355: 10,
 356: 10,
 357: 10,
 358: 10,
 359: 10,
 360: 14,
 361: 10,
 362: 10,
 363: 16,
 364: 2,
 365: 8,
 366: 6,
 367: 16,
 368: 4,
 369: 6,
 370: 16,
 371: 16,
 372: 10,
 373: 10,
 374: 10,
 375: 14,
 376: 10,
 377: 8,
 378: 10,
 379: 8,
 380: 16,
 381: 10,
 382: 10,
 383: 10,
 384: 10,
 385: 10,
 386: 10,
 387: 8,
 388: 16,
 389: 16,
 390: 10,
 391: 8,
 392: 10,
 393: 10,
 394: 10,
 395: 10,
 396: 10,
 397: 4,
 398: 16,
 399: 16,
 400: 4,
 401: 10,
 402: 10,
 403: 10,
 404: 10,
 405: 8,
 406: 12,
 407: 2,
 408: 4,
 409: 10,
 410: 10,
 411: 10,
 412: 6,
 413: 10,
 414: 10,
 415: 2,
 416: 8,
 417: 4,
 418: 10,
 419: 6,
 420: 10,
 421: 10,
 422: 10,
 423: 8,
 424: 2,
 425: 0,
 426: 0,
 427: 0,
 428: 0,
 429: 17,
 430: 6,
 431: 6,
 432: 0,
 433: 16,
 434: 6,
 435: 6,
 436: 6,
 437: 4,
 438: 18,
 439: 6,
 440: 6,
 441: 8,
 442: 10,
 443: 10,
 444: 10,
 445: 10,
 446: 10,
 447: 10,
 448: 14,
 449: 0,
 450: 10,
 451: 10,
 452: 8,
 453: 16,
 454: 12,
 455: 14,
 456: 18,
 457: 16,
 458: 14,
 459: 10,
 460: 12,
 461: 6,
 462: 8,
 463: 10,
 464: 10,
 465: 14,
 466: 4,
 467: 10,
 468: 10,
 469: 8,
 470: 4,
 471: 10,
 472: 10,
 473: 8,
 474: 10,
 475: 10,
 476: 10,
 477: 10,
 478: 10,
 479: 10,
 480: 10,
 481: 10,
 482: 10,
 483: 10,
 484: 10,
 485: 10,
 486: 10,
 487: 10,
 488: 10,
 489: 4,
 490: 10,
 491: 8,
 492: 8,
 493: 8,
 494: 10,
 495: 8,
 496: 8,
 497: 8,
 498: 10,
 499: 10,
 500: 10,
 501: 10,
 502: 10,
 503: 12,
 504: 10,
 505: 12,
 506: 10,
 507: 10,
 508: 8,
 509: 8,
 510: 10,
 511: 8,
 512: 8,
 513: 8,
 514: 8,
 515: 10,
 516: 8,
 517: 6,
 518: 14,
 519: 14,
 520: 4,
 521: 14,
 522: 8,
 523: 8,
 524: 6,
 525: 4,
 526: 8,
 527: 0,
 528: 4,
 529: 10,
 530: 8,
 531: 2,
 532: 6,
 533: 6,
 534: 10,
 535: 4,
 536: 8,
 537: 10,
 538: 2,
 539: 6,
 540: 8,
 541: 10,
 542: 10,
 543: 8,
 544: 4,
 545: 10,
 546: 10,
 547: 4,
 548: 10,
 549: 4,
 550: 10,
 551: 10,
 552: 10,
 553: 10,
 554: 10,
 555: 10,
 556: 10,
 557: 10,
 558: 10,
 559: 12,
 560: 10,
 561: 6,
 562: 8,
 563: 14,
 564: 10,
 565: 10,
 566: 14,
 567: 8,
 568: 14,
 569: 6,
 570: 8,
 571: 10,
 572: 4,
 573: 12,
 574: 10,
 575: 10,
 576: 8,
 577: 16,
 578: 12,
 579: 10,
 580: 6,
 581: 10,
 582: 8,
 583: 0,
 584: 14,
 585: 4,
 586: 10,
 587: 10,
 588: 10,
 589: 10,
 590: 10,
 591: 10,
 592: 10,
 593: 10,
 594: 10,
 595: 10,
 596: 10,
 597: 10,
 598: 10,
 599: 10,
 600: 10,
 601: 10,
 602: 10,
 603: 10,
 604: 10,
 605: 10,
 606: 10,
 607: 10,
 608: 10,
 609: 10,
 610: 10,
 611: 10,
 612: 10,
 613: 10,
 614: 10,
 615: 10,
 616: 10,
 617: 10,
 618: 10,
 619: 10,
 620: 10,
 621: 10,
 622: 12,
 623: 10,
 624: 12,
 625: 12,
 626: 10,
 627: 10,
 628: 10,
 629: 10,
 630: 10,
 631: 10,
 632: 10,
 633: 10,
 634: 10,
 635: 8,
 636: 4,
 637: 10,
 638: 10,
 639: 10,
 640: 10,
 641: 10,
 642: 10,
 643: 10,
 644: 14,
 645: 10,
 646: 10,
 647: 14,
 648: 10,
 649: 10,
 650: 10,
 651: 10,
 652: 10,
 653: 10,
 654: 10,
 655: 10,
 656: 10,
 657: 10,
 658: 10,
 659: 10,
 660: 10,
 661: 10,
 662: 10,
 663: 10,
 664: 10,
 665: 10,
 666: 10,
 667: 10,
 668: 10,
 669: 10,
 670: 10,
 671: 10,
 672: 10,
 673: 12,
 674: 10,
 675: 10,
 676: 10,
 677: 4,
 678: 6,
 679: 10,
 680: 10,
 681: 10,
 682: 10,
 683: 8,
 684: 6,
 685: 2,
 686: 6,
 687: 12,
 688: 2,
 689: 6,
 690: 2,
 691: 2,
 692: 6,
 693: 6,
 694: 2,
 695: 2,
 696: 6,
 697: 0,
 698: 12,
 699: 10,
 700: 14,
 701: 16,
 702: 12,
 703: 14,
 704: 10,
 705: 8,
 706: 8,
 707: 8,
 708: 10,
 709: 10,
 710: 8,
 711: 10,
 712: 8,
 713: 12,
 714: 6,
 715: 6,
 716: 6,
 717: 14,
 718: 16,
 719: 12,
 720: 6,
 721: 8,
 722: 14,
 723: 4,
 724: 0,
 725: 14,
 726: 0,
 727: 10,
 728: 14,
 729: 6,
 730: 9,
 731: 8,
 732: 0,
 733: 8,
 734: 14,
 735: 10,
 736: 16,
 737: 4,
 738: 3,
 739: 0,
 740: 10,
 741: 12,
 742: 16,
 743: 12,
 744: 16,
 745: 4,
 746: 14,
 747: 6,
 748: 6,
 749: 12,
 750: 14,
 751: 12,
 752: 6,
 753: 8,
 754: 12,
 755: 14,
 756: 4,
 757: 4,
 758: 12,
 759: 6,
 760: 6,
 761: 12,
 762: 8,
 763: 10,
 764: 12,
 765: 14,
 766: 4,
 767: 14,
 768: 6,
 769: 6,
 770: 14,
 771: 8,
 772: 8,
 773: 4,
 774: 16,
 775: 6,
 776: 4,
 777: 8,
 778: 16,
 779: 6,
 780: 12,
 781: 12,
 782: 14,
 783: 16,
 784: 4,
 785: 4,
 786: 6,
 787: 8,
 788: 4,
 789: 14,
 790: 16,
 791: 18,
 792: 10,
 793: 10,
 794: 10,
 795: 16,
 796: 14,
 797: 6,
 798: 18,
 799: 14,
 800: 4,
 801: 14,
 802: 4,
 803: 4,
 804: 14,
 805: 6,
 806: 14,
 807: 12,
 808: 4,
 809: 6,
 810: 8,
 811: 8,
 812: 8,
 813: 8,
 814: 6,
 815: 14,
 816: 10,
 817: 16,
 818: 14,
 819: 6,
 820: 4,
 821: 6,
 822: 8,
 823: 16,
 824: 10,
 825: 4,
 826: 14,
 827: 6,
 828: 8,
 829: 14,
 830: 4,
 831: 6,
 832: 6,
 833: 4,
 834: 14,
 835: 16,
 836: 4,
 837: 8,
 838: 18,
 839: 8,
 840: 4,
 841: 12,
 842: 12,
 843: 14,
 844: 4,
 845: 6,
 846: 6,
 847: 18,
 848: 16,
 849: 12,
 850: 4,
 851: 8,
 852: 14,
 853: 0,
 854: 6,
 855: 14,
 856: 14,
 857: 4,
 858: 14,
 859: 4,
 860: 8,
 861: 16,
 862: 14,
 863: 14,
 864: 14,
 865: 6,
 866: 6,
 867: 6,
 868: 14,
 869: 4,
 870: 6,
 871: 4,
 872: 0,
 873: 14,
 874: 14,
 875: 16,
 876: 8,
 877: 6,
 878: 14,
 879: 6,
 880: 14,
 881: 10,
 882: 6,
 883: 6,
 884: 6,
 885: 8,
 886: 6,
 887: 8,
 888: 12,
 889: 6,
 890: 8,
 891: 8,
 892: 4,
 893: 14,
 894: 16,
 895: 16,
 896: 14,
 897: 6,
 898: 8,
 899: 14,
 900: 4,
 901: 18,
 902: 14,
 903: 8,
 904: 14,
 905: 6,
 906: 0,
 907: 16,
 908: 8,
 909: 4,
 910: 6,
 911: 16,
 912: 14,
 913: 8,
 914: 4,
 915: 6,
 916: 14,
 917: 18,
 918: 16,
 919: 14,
 920: 18,
 921: 8,
 922: 6,
 923: 4,
 924: 14,
 925: 6,
 926: 8,
 927: 4,
 928: 6,
 929: 6,
 930: 6,
 931: 14,
 932: 14,
 933: 0,
 934: 4,
 935: 8,
 936: 6,
 937: 4,
 938: 14,
 939: 8,
 940: 14,
 941: 14,
 942: 6,
 943: 4,
 944: 4,
 945: 6,
 946: 8,
 947: 6,
 948: 6,
 949: 6,
 950: 8,
 951: 6,
 952: 14,
 953: 16,
 954: 10,
 955: 6,
 956: 4,
 957: 8,
 958: 14,
 959: 14,
 960: 10,
 961: 6,
 962: 8,
 963: 18,
 964: 4,
 965: 6,
 966: 14,
 967: 4,
 968: 14,
 969: 14,
 970: 6,
 971: 4,
 972: 14,
 973: 6,
 974: 4,
 975: 14,
 976: 14,
 977: 10,
 978: 4,
 979: 14,
 980: 6,
 981: 14,
 982: 4,
 983: 8,
 984: 6,
 985: 4,
 986: 14,
 987: 8,
 988: 14,
 989: 14,
 990: 8,
 991: 8,
 992: 6,
 993: 6,
 994: 14,
 995: 6,
 996: 4,
 997: 14,
 998: 4,
 999: 14,
 ...}

Checking how it compares to the amount of rows

In [309]:
print(max(empty_col_per_row.values()))
print(min(empty_col_per_row.values()))
len(df.columns)

21
0

27

Computing null ratio to compare it after dropping rows

In [310]:
for name, val in df.items():
    na_ratio =  val.isnull().sum() / len(val)
    if na_ratio > 0.3 and na_ratio != 0:
        print(f"{name:<16} {na_ratio:.5f}")

pl_orbsmax       0.44160
pl_orbsmaxlim    0.35844
pl_rade          0.30232
pl_radeerr1      0.32142
pl_radeerr2      0.32142
pl_orbeccen      0.48851
pl_orbeccenlim   0.40637
pl_insol         0.57883
pl_insolerr1     0.58516
pl_insolerr2     0.58516
pl_insollim      0.43248
pl_eqt           0.54749
pl_eqtlim        0.47091

Dropping rows missing over %50 columns

In [311]:
for index, nan_val in empty_col_per_row.items():
    if (nan_val) > 14:
        df = df.drop(index)
len(df.index)

0

Computing total nulls after drop

In [312]:
null_after_dropcol = df.isnull().sum().sum()
null_after_dropcol

198759

Computing null ratio again

In [313]:
for name, val in df.items():
    na_ratio =  val.isnull().sum() / len(val)
    if na_ratio > 0.3 and na_ratio != 0:
        print(f"{name:<16} {na_ratio:.5f}")

pl_orbsmax       0.43504
pl_orbsmaxlim    0.35037
pl_radeerr1      0.30041
pl_radeerr2      0.30041
pl_orbeccen      0.47423
pl_orbeccenlim   0.38952
pl_insol         0.56569
pl_insolerr1     0.57221
pl_insolerr2     0.57221
pl_insollim      0.41477
pl_eqt           0.53388
pl_eqtlim        0.45491

Filling Empty Columns

In [314]:
fill_columns = []
for name, val in df.items():
    na_ratio =  val.isnull().sum() / len(val)
    if na_ratio < 0.3 and na_ratio != 0:
        print(f"{name:<16} {na_ratio:.5f}")
        fill_columns.append(name)

pl_orbper        0.07343
pl_orbpererr1    0.10454
pl_orbpererr2    0.10457
pl_orbperlim     0.07327
pl_rade          0.28150
pl_radelim       0.19682
sy_dist          0.01951
sy_disterr1      0.03957
sy_disterr2      0.03957

In [315]:
for col in fill_columns:
    df[col] = df[col].fillna(0, inplace= False)

In [316]:
for col in fill_columns:
    print(df[col].head())

0     326.03000
3     516.21997
4     516.22000
6     185.84000
7    1766.41000
Name: pl_orbper, dtype: float64
0    0.32
3    3.20
4    3.25
6    0.23
7    0.67
Name: pl_orbpererr1, dtype: float64
0   -0.32
3   -3.20
4   -3.25
6   -0.23
7   -0.68
Name: pl_orbpererr2, dtype: float64
0    0.0
3    0.0
4    0.0
6    0.0
7    0.0
Name: pl_orbperlim, dtype: float64
0    0.0
3    0.0
4    0.0
6    0.0
7    0.0
Name: pl_rade, dtype: float64
0    0.0
3    0.0
4    0.0
6    0.0
7    0.0
Name: pl_radelim, dtype: float64
0     93.1846
3    125.3210
4    125.3210
6     75.4392
7     17.9323
Name: sy_dist, dtype: float64
0    1.9238
3    1.9765
4    1.9765
6    0.7140
7    0.0073
Name: sy_disterr1, dtype: float64
0   -1.9238
3   -1.9765
4   -1.9765
6   -0.7140
7   -0.0073
Name: sy_disterr2, dtype: float64

In [317]:
for name, val in df.items():
    na_ratio =  val.isnull().sum() / len(val)
    if na_ratio > 0.3 and na_ratio != 0:
        print(f"{name:<16} {na_ratio:.5f}")

pl_orbsmax       0.43504
pl_orbsmaxlim    0.35037
pl_radeerr1      0.30041
pl_radeerr2      0.30041
pl_orbeccen      0.47423
pl_orbeccenlim   0.38952
pl_insol         0.56569
pl_insolerr1     0.57221
pl_insolerr2     0.57221
pl_insollim      0.41477
pl_eqt           0.53388
pl_eqtlim        0.45491