In [125]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import warnings
import math

In [126]:
warnings.simplefilter(action='ignore', category=FutureWarning)
df = pd.read_csv("data.csv",header=0, index_col=0)
pd.set_option('mode.chained_assignment', None)

In [127]:
df.head(10)

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,sy_snum,sy_pnum,sy_mnum,...,sy_tmag,sy_tmag_reflink,sy_kepmag,sy_kepmag_reflink,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,3.83790,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,2.0,1,2,0,0,0
2,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,0,...,3.82294,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,1,0,0,0
3,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,1,1,0,...,4.32140,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,1,0,0,0
4,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,1,2,0,...,5.86310,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,4,1,0,0
5,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,3,1,0,...,5.62810,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,6.095,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,4,3,0,0
6,17 Sco b,17 Sco,b,NaN,HIP 79540,TIC 135596590,Gaia DR2 4342464209753404416,1,1,0,...,3.97655,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,0,0,0,0,0
7,18 Del b,18 Del,b,HD 199665,HIP 103527,TIC 354489950,Gaia DR2 1756741374681702784,2,1,0,...,4.71810,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,2.0,1,1,0,0,0
8,1RXS J160929.1-210524 b,1RXS J160929.1-210524,b,NaN,NaN,TIC 48964101,Gaia DR2 6243841249531772800,1,1,0,...,11.19410,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,0,0,0,0,0
9,24 Boo b,24 Boo,b,HD 127243,HIP 70791,TIC 441712711,Gaia DR2 1603662211901473408,1,1,0,...,4.78120,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,0,0,0,0
10,24 Sex b,24 Sex,b,HD 90043,HIP 50887,TIC 1713457,Gaia DR2 3830897080395058048,1,2,0,...,5.64160,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,2,1,0,0

In [128]:
cols = ['sy_snum', 'sy_pnum', 'sy_mnum', 'pl_orbper', 'pl_orbsmax', 'pl_rade', 'pl_radj', 'pl_bmasse', 'pl_bmassj', 'pl_dens', 'pl_orbeccen', 'pl_insol', 'pl_eqt', 
'pl_orbincl', 'pl_trandep', 'pl_ratdor', 'pl_orbtper', 'pl_orblper', 'st_spectype', 'st_teff', 'st_rad', 'st_mass', 'st_lum', 'st_logg', 'st_age', 'st_dens', 'st_vsin', 'st_rotp', 'st_radv', 'cb_flag', 'sy_bmag', 'sy_vmag', 'sy_jmag', 'sy_hmag', 'sy_kmag', 'sy_umag', 'sy_gmag', 'sy_rmag', 'sy_imag', 'sy_zmag', 'sy_w1mag', 'sy_w2mag', 'sy_w3mag', 'sy_w4mag', 'sy_gaiamag', 'sy_icmag', 'sy_tmag', 'sy_kepmag', 'pl_name', 'hostname', 'sy_dist', 'pl_bmassprov', 'pl_tranmid', 'pl_imppar', 'pl_trandur', 'pl_ratror', 'pl_occdep', 'pl_rvamp', 'pl_projobliq', 'pl_trueobliq']

In [129]:
df = df[cols]

In [130]:
df.head()

,sy_snum,sy_pnum,sy_mnum,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,pl_bmassj,pl_dens,...,sy_dist,pl_bmassprov,pl_tranmid,pl_imppar,pl_trandur,pl_ratror,pl_occdep,pl_rvamp,pl_projobliq,pl_trueobliq
rowid,,,,,,,,,,,,,,,,,,,,,
1,2,1,0,326.030000,1.290000,12.1,1.08,6165.60000,19.40000,19.10,...,93.1846,Msini,NaN,NaN,NaN,NaN,NaN,302.800,NaN,NaN
2,1,1,0,516.219970,1.530000,12.3,1.09,4684.81420,14.74000,13.80,...,125.3210,Msini,NaN,NaN,NaN,NaN,NaN,189.700,NaN,NaN
3,1,1,0,185.840000,0.830000,12.9,1.15,1525.50000,4.80000,3.90,...,75.4392,Msini,NaN,NaN,NaN,NaN,NaN,100.000,NaN,NaN
4,1,2,0,1765.038901,2.773069,12.6,1.12,2586.74645,8.13881,7.11,...,17.9323,Mass,2456834.40,NaN,NaN,NaN,NaN,89.582,NaN,NaN
5,3,1,0,798.500000,1.660000,13.5,1.20,565.73740,1.78000,1.26,...,21.1397,Msini,2456937.32,NaN,NaN,NaN,NaN,50.500,NaN,NaN

In [131]:
df.isna().sum().to_frame()

                 0
sy_snum          0
sy_pnum          0
sy_mnum          0
pl_orbper      191
pl_orbsmax     286
pl_rade         17
pl_radj         18
pl_bmasse       23
pl_bmassj       23
pl_dens        114
pl_orbeccen    682
pl_insol      1611
pl_eqt        1363
pl_orbincl    1251
pl_trandep    1455
pl_ratdor     1384
pl_orbtper    4315
pl_orblper    3726
st_spectype   3375
st_teff        160
st_rad         181
st_mass          4
st_lum         176
st_logg        189
st_age        1103
st_dens        435
st_vsin       3407
st_rotp       4690
st_radv       3067
cb_flag          0
sy_bmag        248
sy_vmag        159
sy_jmag        176
sy_hmag        161
sy_kmag        155
sy_umag       4620
sy_gmag       1945
sy_rmag       1928
sy_imag       1981
sy_zmag       2193
sy_w1mag       376
sy_w2mag       375
sy_w3mag       375
sy_w4mag       376
sy_gaiamag     209
sy_icmag      4924
sy_tmag        163
sy_kepmag     1876
pl_name          0
hostname         0
sy_dist         17
pl_bmassprov     0
pl_tranmid    1073
pl_imppar     1414
pl_trandur    1361
pl_ratror     1405
pl_occdep     5212
pl_rvamp      3387
pl_projobliq  5094
pl_trueobliq  5216

In [132]:
drop = [
"pl_trueobliq",
"pl_occdep",
"pl_projobliq",
"sy_icmag",
"st_rotp",
"sy_umag",
"pl_orbtper",
"pl_orblper",
"st_vsin",
"pl_rvamp",
"st_spectype",
"st_radv",
"sy_zmag",
"sy_imag",
"sy_gmag",
"sy_rmag",
"sy_kepmag",
"pl_insol",
"pl_trandep",
"pl_imppar",
"pl_ratror",
"pl_ratdor",
"pl_eqt",
"pl_trandur",
"pl_orbincl",
"st_age",
"pl_tranmid",
]

In [133]:
df = df.drop(columns=drop)

In [134]:
df.isna().sum().to_frame()

                0
sy_snum         0
sy_pnum         0
sy_mnum         0
pl_orbper     191
pl_orbsmax    286
pl_rade        17
pl_bmasse      23
pl_bmassj      23
pl_dens       114
pl_orbeccen   682
st_teff       160
st_rad        181
st_mass         4
st_lum        176
st_logg       189
st_dens       435
cb_flag         0
sy_bmag       248
sy_vmag       159
sy_jmag       176
sy_hmag       161
sy_kmag       155
sy_w1mag      376
sy_w2mag      375
sy_w3mag      375
sy_w4mag      376
sy_gaiamag    209
sy_tmag       163
pl_name         0
hostname        0
pl_bmassprov    0

In [135]:
s = df.set_index('pl_name').isna().groupby('pl_name').sum().sum(axis=1)
for i in df['pl_name']:
    df.loc[df['pl_name'] == i,'empty_col_count'] = s[i]

In [136]:
df.groupby(['empty_col_count'])['empty_col_count'].count().to_frame()

                 empty_col_count
empty_col_count
0.0                         3914
1.0                          609
2.0                          273
3.0                           41
4.0                          153
5.0                           56
6.0                           12
7.0                            9
8.0                            9
10.0                           6
13.0                           1
15.0                          11
16.0                          14
17.0                          18
18.0                         114
19.0                           3

In [137]:
temp = df[df['empty_col_count'] < 2]
temp.columns[temp.isna().any()].to_frame()

                       0
pl_orbper      pl_orbper
pl_orbsmax    pl_orbsmax
pl_dens          pl_dens
pl_orbeccen  pl_orbeccen
st_dens          st_dens
sy_bmag          sy_bmag
sy_gaiamag    sy_gaiamag